@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@douyinfe/semi-ui/dist/css/semi.min.css';

.ProseMirror {
  padding: 12px 20px;
  overflow: hidden;
  border-radius: 20px;
  background-color: #f8f8f8;
  font-size: 14px;
}

.ProseMirror:focus {
  outline: none;
}

.syl-placeholder {
  color: #999;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror img.ProseMirror-selectednode {
  outline: 3px solid #68cef8;
}
